.total {
   
    display: flex;
    flex-direction:column;
    align-items: center;
    gap: 40px;
    
  }
  

.favorit-Btns{
    
    display: flex; 
    flex-direction:row;
    justify-content: space-around;
    gap: 10px;
    
}

  .favorit-All {
    text-align: center;
    height: 25px;
    width: 100px;
    border-radius: 4px;
    color: white;
  }

  .favoritImg {
    width: 300px;
    height: 200px;
    background: rgb(255, 255, 255);
    border-radius: 0.4em;
    box-shadow: 0.3em 0.3em 0.4em #00000015;
    transition: border 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    border: rgb(250, 250, 250) 0.2em solid;
    text-align: center;
    display: flex; 
    flex-direction:row;
    align-items: center;
    justify-content: space-around;
    
  }

  .favorit-Bts {
    display: flex; 
    flex-direction:row;
    justify-content: space-around;
    
  }


